<main class="min-vh-100">
  <div class="content" role="main">
    <h2>Genera un código Qr</h2>
    <div #canvas></div>
    <label>
      <input class="form-control" (keyup)="onKey($event)" value={{this.data}}>
      <p>Elija el tipo de archivo</p>
      <select (change)="onChange($event)" value={{this.extension}}>
        <option value="svg">SVG</option>
        <option value="png">PNG</option>
        <option value="jpeg">JPEG</option>
        <option value="webp">WEBP</option>
      </select>
      <button class="button-enlaces" (click)="download()">Download</button>
    </label>
  </div>
</main>