.button {
    margin: 2px;
    color: var(--color-enlace);
    background-color: var(--bg-enlace);
}
.button:hover {
    color: var(--bg-enlace);
    background-color: var(--color-enlace);
}
select {
    margin-left: 20px;
}