<header class="header-wrapper">
  <div class="header-content container">
    <a href="home" class="header-brand">Shortnees</a>
    <nav class="header-nav">
      <a href="home" class="header-link">Acortador</a>
      @if (!isLoggedIn) {
        <a href="registro" class="header-link header-link--muted">Panel de control</a>
        <a href="registro" class="header-link header-link--muted">QR</a>
        <div class="header-vr"></div>
        <a href="login" class="header-link">Login</a>
        <a href="registro" class="header-link">Registro</a>
      } @else {
        <a href="dashboard" class="header-link">Panel de control</a>
        <a href="generador" class="header-link">QR</a>
        <div class="header-vr"></div>
        <a href="cuenta" class="header-link" *ngIf="accesoService.currentUserValue as user">
          <span class="header-avatar">{{user.nombre.slice(0, 2).toUpperCase()}}</span>
        </a>
        <a href="login" (click)="logout()" class="header-link">Cerrar sesión</a>
      }
    </nav>
  </div>
  <div class="header-bottom-line"></div>
</header>
