.custom-bg {
    background-color: #0c0c0c; /* Color personalizado */   
}
.custom-txt {
    color: #e2e2e2; /* Color personalizado */
    font-family: 'Roboto', sans-serif;
}
.custom-txt-off {
    color: #686867; /* Color personalizado */
    font-family: 'Roboto', sans-serif;
}
.no-points {
    list-style: none; /* Elimina los puntos */
}
.custom-hover {
    position: relative;
    transition: all 0.3s ease-in-out;
}
.custom-hover:hover {
    background-color: #007bff; /* Cambia el fondo */
    border-radius: 5px; /* Añade bordes redondeados */
}
.custom-hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #007bff; /* Color del subrayado */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.custom-hover:hover::before {
    visibility: visible;
    transform: scaleX(1);
}


