<header class="custom-bg d-flex justify-content-center align-items-center">
  <div class="d-flex">
    <ul class="navbar col-12 col-lg-auto me-lg-auto mb-2 mb-md-0 no-points">
      <li class="nav-item"><a href="home" class="nav-link px-2 link-secondary custom-hover"><p class="custom-txt">Acortador</p></a></li>
      @if (!isLoggedIn) {
        <li class="nav-item"><a href="registro" class="nav-link px-2 link-body-emphasis custom-hover"><p class="custom-txt-off">Panel de control</p></a></li>
        <li class="nav-item"><a href="registro" class="nav-link px-2 link-body-emphasis custom-hover"><p class="custom-txt-off">QR</p></a></li>
        <div class="vr mx-3"></div>
        <li class="nav-item"><a href="login" class="nav-link px-2 link-body-emphasis custom-hover"><p class="custom-txt">Login</p></a></li>
        <li class="nav-item"><a href="registro" class="nav-link px-2 link-body-emphasis custom-hover"><p class="custom-txt">Registro</p></a></li>
      } @else {
        <li class="nav-item"><a href="dashboard" class="nav-link px-2 link-body-emphasis custom-hover"><p class="custom-txt">Panel de control</p></a></li>
        <li class="nav-item"><a href="generador" class="nav-link px-2 link-body-emphasis custom-hover"><p class="custom-txt">QR</p></a></li>
        <div class="vr mx-3"></div>
        <li class="nav-item" *ngIf="accesoService.currentUserValue as user">
          <a href="cuenta" class="nav-link px-2 link-body-emphasis custom-hover">
            <p class="custom-txt"><span class="avatar">{{user.nombre.slice(0, 2).toUpperCase()}}</span></p>
          </a>
        </li>
        <li class="nav-item"><a href="login" (click)="logout()" class="nav-link px-2 link-body-emphasis custom-hover"><p class="custom-txt">Cerrar Sesion</p></a></li>
      }
    </ul>
  </div>
</header>
