.custom-bg {
    background-color: #1f1c1c; /* Color personalizado */
}
.custom-txt {
    color: #e2e2e2; /* Color personalizado */
}
.custom-txt-off {
    color: #686867; /* Color personalizado */
}

