<main class="container mt-4  container-fluid min-vh-100">
    @if (enlaces.length > 0) {
     <h2 class="d-flex justify-content-center align-items-center">Mis Enlaces:</h2>
      <div class="container ">
          <ul class="d-flex overflow-auto row justify-content-center align-items-center ">
          @for (enlace of enlaces; track enlace.id) {
            <li class="col-6 col-md-3"><button  (click)="urlSeleccionada(enlace.urlCorta); verEstadisticasDispositivo(enlace.id); verEstadisticasFecha(enlace.id);
              verEstadisticasPais(enlace.id); verEstadisticas(enlace.id)" class="button-enlaces" >{{enlace.urlCorta}}</button></li> 
          }
          </ul>
      </div>
   
       <!-- 
        Mostrar estadísticas si están disponibles
        <button (click)="eliminarEnlace(enlace.id)" class="btn btn-danger btn-sm">Eliminar Enlace</button>
    -->
      @if (estadisticas) {
        <div class="mt-4 contenedor">
          <div class="alert">
            <h3 class="mb-3 d-flex justify-content-center align-items-center">Enlace selecionado {{ urlCortaSeleccionada }}</h3>
            <!-- <strong>Número de clics:</strong> {{ estadisticas.numeroClicks }}
            <button (click)="eliminarEnlace(enlace.id)" class="btn btn-danger btn-sm">Eliminar Enlace</button> 
            -->
            
          </div>
          <h4 class="mt-4 mb-3">Visitas:</h4>
          <div class="row">
            <!--@for (detalle of estadisticas.detalles; track detalle.id) {-->
                <div class="card col-6">
                  <div class="card-body">
                    <ngx-charts-advanced-pie-chart
                    [view]="view"
                    [results]="dataBarPais"
                    [gradient]="gradient"
                    >
                    </ngx-charts-advanced-pie-chart>
                  </div>
                </div>
                <div class="card col-6">
                  <div class="card-body">
                    <ngx-charts-advanced-pie-chart
                    [view]="view"
                    [results]="dataBarDispositivo"
                    [gradient]="gradient"
                    >
                    </ngx-charts-advanced-pie-chart>
                   <!-- <p class="card-text"><strong>Fecha Click:</strong> {{ detalle.fecha_click }}</p>
                    <p class="card-text"><strong>IP Usuario:</strong> {{ detalle.ip_usuario }}</p>
                    <p class="card-text"><strong>Ubicación:</strong> {{ detalle.ubicacion }}</p>
                    <p class="card-text"><strong>Dispositivo:</strong> {{ detalle.dispositivo }}</p> 
                    -->
                  </div>
                </div>
                <div class="card col-6">
                  <div class="card-body">
                    <ngx-charts-advanced-pie-chart
                    [view]="view"
                    [results]="dataBarFecha"
                    [gradient]="gradient"
                    >
                    </ngx-charts-advanced-pie-chart>
                  </div>
                </div>
              </div>
            <!--}-->
          </div>
      }
    } @else {
      <div class="alert alert-warning mt-4" role="alert">
        No tienes enlaces disponibles.
      </div>
    }
</main>
