:host {
    height: auto;
    width: 100%;
}
main {
    
    height: auto
}

ul {
    list-style-type: none;
}
.card{
    background-color: var(--bg-card);
}
.alert {
    background-color: var(--bg-card);
}
.button-enlaces {
    margin: 2px;
    color: var(--color-enlace);
    background-color: var(--bg-enlace);
}
.button-enlaces:hover {
    color: var(--bg-enlace);
    background-color: var(--color-enlace);
}
.container {
    margin-top: 50px;
    max-width: 100%;
}
