<footer class="container">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-light">lorem ipsum</span>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li>GitHub</li>
        <li>Bluesky</li>
        <li>un correo</li>  
      </ul>
</footer>
  
